<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ShopOnline - Cửa hàng trực tuyến</title>

    <link rel="stylesheet" th:href="@{/CSS/Home.css}">
</head>

<body>

    <h1>Trang chủ ShopOnline</h1>

    <h2>Danh mục</h2>

    <div class="category-list">

        <a th:href="@{/products}">
            Tất cả sản phẩm
        </a>

        <a th:each="c : ${categories}"
           th:href="@{/products/category/{id}(id=${c.id})}"
           th:text="${c.name}">
        </a>

    </div>

</body>

</html>